<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dm_02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCookie</display-name>
    <servlet-name>AddCookie</servlet-name>
    <servlet-class>orz.yy.cookie.AddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookie</servlet-name>
    <url-pattern>/addcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCookie</display-name>
    <servlet-name>FindCookie</servlet-name>
    <servlet-class>orz.yy.cookie.FindCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCookie</servlet-name>
    <url-pattern>/findcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCookie</display-name>
    <servlet-name>UpdateCookie</servlet-name>
    <servlet-class>orz.yy.cookie.UpdateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCookie</servlet-name>
    <url-pattern>/updatecookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodeCookie</display-name>
    <servlet-name>EncodeCookie</servlet-name>
    <servlet-class>orz.yy.cookie.EncodeCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodeCookie</servlet-name>
    <url-pattern>/encodecookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecodeCookie</display-name>
    <servlet-name>DecodeCookie</servlet-name>
    <servlet-class>orz.yy.cookie.DecodeCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecodeCookie</servlet-name>
    <url-pattern>/decodecookie</url-pattern>
  </servlet-mapping>
</web-app>